name: Anonymize and Sync Repo

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source repository
      uses: actions/checkout@v2
      with:
        ref: 'artifact'

    - name: Configure git user
      run: |
        git config --global user.email "scaleview@scaleview.com"
        git config --global user.name "ScaleView"

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_KEY_TO_PUSH }}

    - name: Rewrite commit history to anonymize
      run: |
        rm -rf .git
        git init
        git add .
        git commit -m "sync repository"

    - name: Force push to target repository
      run: |
        TARGET_REPO_SSH_URL="git@github.com:scaleview/scalability-study.git"
        git remote add target ${TARGET_REPO_SSH_URL}
        git push target master --force

